<main>
    <div id="computer-details">
        <div class="player-name">COMPUTER</div>
        <div class="styled-divider">
            <progress-bar [total]="computerModel.totalLife" [remaining]="computerModel.remainingLife"></progress-bar>
        </div>
    </div>
    <div id="user-details">
        <div class="player-name">HUMAN</div>
        <div class="styled-divider">
            <progress-bar [total]="userModel.totalLife" [remaining]="userModel.remainingLife"></progress-bar>
            <div class="life-indicator">{{userModel.remainingLife}} / {{userModel.totalLife}}</div>
        </div>
    </div>
    <action-box (userChoice)="onUserChoice($event)"></action-box>
    <message-box 
        *ngIf="isMessageShowing"
        (dismissMessage)="onDismissMessage()"
        [computerChoice]="computerChoice"
        [userOutcome]="userOutcome">
    </message-box>
</main>