<div id="action-box">
    <div id="preliminary-actions" *ngIf="!areMainActionsShown">
        <button id="fight" (click)="onFight()">FIGHT</button>
        <button id="run" (click)="onRun()">RUN</button>
    </div>
    <div id="main-actions" *ngIf="areMainActionsShown">
        <div class="buttons-column">
            <button id="rock" (click)="onRock()">ROCK</button>
            <button id="paper" (click)="onPaper()">PAPER</button>
        </div>
        <div class="buttons-column">
            <button id="scissors" (click)="onScissors()">SCISSORS</button>
            <button id="back" (click)="onBack()">BACK</button>
        </div>
    </div>
</div>