main, #game-over-message {
    width: 100vw;
    height: 100vh;
    max-width: 100vh;
    max-height: 100vw;
    background-color: #FBE6FA;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}
main {
    position: relative;
}
#game-over-message {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
#game-over-message button {
    position: relative;
}
#game-over-message button:hover::before {
    left: -40px;
}
action-box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 35%;
}
message-box {
    position: absolute;
    background-color: #FBE6FA;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35%;
}
#computer-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 30%;
}
#user-details {
    position: absolute;
    right : 0;
    bottom: 35%;
    width: 60%;
    height: 35%;
}
.styled-divider {
    position: absolute;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    padding: 5px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 80%;
    left: 10%;
    bottom: 10%;
    text-align: right;
}
#computer-details .styled-divider {
    border-right: none;
    border-left: 3px solid black;
    padding-right: 5px;
}
.player-name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 82px;
}
#computer-details .player-name {
    bottom: 61px;
}
