#game-over-message {
    width: 100vw;
    height: 100vh;
    max-width: 100vh;
    max-height: 100vw;
    background-color: #FBE6FA;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
#game-over-message h2 {
    margin-top: calc(50% - 93px);
}
#game-over-message button {
    position: relative;
    display: block;
    margin: 20px auto;
}
#game-over-message button:hover::before {
    left: -40px;
}